@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import "bttn.min.css";
body {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  background: #c2deeb;
  text-align: center;
}

.container {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
}

.main {
  background: #4188a9;
  padding: 20px;
  border: 2px solid #97583a;
  border-radius: 4px;
}

h1 {
  margin: 1% 0 8% 0;
}

.controls {
  margin: 4% 0 2% 0;
  label,
  span,
  button {
    margin-right: 1%;
  }
  input {
    width: 30px;
    height: 30px;
    text-align: center;
    color: #1d89ff;
    background: white;
    border: transparent;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .18), 0 1px 5px 0 rgba(0, 0, 0, .15);
    margin-right: 3%;
  }
}

canvas {
  display: block;
  border: 1px solid gray;
  border-radius: 4px;
}

.start-button {
  margin-left: 30%;
}
